<div class="row"
     ng-init="init(); gotoElement('demo')">
    <!--Sidebar-->
    <div class="col-md-3">
        <p class="lead">Basic map</p>
        <div class="list-group">
            <a ng-click="gotoElement('demo')"
               href="javascript:void(0);"
               class="list-group-item">Demo</a>

            <a ng-click="gotoElement('properties')"
                    href="javascript:void(0);"
               class="list-group-item">Properties</a>

            <a ng-click="gotoElement('events')"
               href="javascript:void(0);"
               class="list-group-item">Events</a>

            <a ng-click="gotoElement('code')"
               href="javascript:void(0);"
               class="list-group-item">Code</a>
        </div>
    </div>

    <!--Main content-->
    <div class="col-md-9">

        <div id="demo"
             class="panel panel-primary">

            <div class="panel-heading">
                Demo
            </div>
            <div class="panel-body">
                <ng-viet-map background-color="options.backgroundColor"
                             center="options.center"
                             layer="options.layer"
                             disable-double-click-zoom="options.disableDoubleClickZoom"
                             scroll-wheel="options.scrollWheel"
                             limit-bounds="limitBounds"
                             map-type-id="options.mapTypeId"
                             min-zoom="options.minZoom"
                             max-zoom="options.maxZoom"
                             zoom="options.zoom"
                             is-move-insert="options.isMoveInsert"
                             extend-tile="options.extendTile"
                             zoom-control="options.zoomControl"
                             scale-control="options.scaleControl">
                </ng-viet-map>
            </div>
        </div>

        <div id="properties"
             class="panel panel-info"
             ng-if="information != null && information.properties != null">
            <div class="panel-heading">
                Properties
            </div>
            <div class="panel-body">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th class="text-center">Properties</th>
                        <th class="text-center">Type</th>
                        <th class="text-center">Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="property in information.properties">
                        <td>
                            <code>{{property.name}}</code>
                        </td>
                        <td>
                            {{property.type}}
                        </td>
                        <td>
                            {{property.description}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div id="events"
             class="panel panel-warning"
             ng-if="information != null && information.events != null">
            <div class="panel-heading">
                Events
            </div>
            <div class="panel-body">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th class="text-center">Name</th>
                        <th class="text-center">Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="event in information.events">
                        <td>
                            <code>{{event.name}}</code>
                        </td>
                        <td>{{event.description}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div id="code"
             class="panel panel-default">
            <div class="panel-heading">
                Code
            </div>
            <div class="panel-body">
                <pre>
                    &lt;ng-viet-map background-color="options.backgroundColor"
                                    center="options.center"
                                    layer="options.layer"
                                    disable-double-click-zoom="options.disableDoubleClickZoom"
                                    scroll-wheel="options.scrollWheel"
                                    limit-bounds="limitBounds"
                                    map-type-id="options.mapTypeId"
                                    min-zoom="options.minZoom"
                                    max-zoom="options.maxZoom"
                                    zoom="options.zoom"
                                    is-move-insert="options.isMoveInsert"
                                    extend-tile="options.extendTile"
                                    zoom-control="options.zoomControl"
                                    scale-control="options.scaleControl"&gt;&lt;/ng-viet-map&gt;
                </pre>
            </div>
        </div>
    </div>

</div>