<!-- Page Content -->
<div class="container"
     ng-init="init()">

    <!-- Portfolio Item Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">ng-viet-ban-do
                <small>(angularjs)</small>
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Project overview -->
    <div class="row">

        <div class="col-md-8">
            <img class="img-responsive" src="../assets/image/project-overview.png" alt="Project overview">
        </div>

        <div class="col-md-4">
            <h3>Project description</h3>
            <p>This directive is a wrapper of vietbando. You can find the original project <a
                    href="http://maps.vietbando.com/maps/">here</a></p>
            <h3>Original components</h3>
            <ul>
                <li>
                    <a href="http://api.vietbando.com/Help/MapsJsAPI/vi/example/basicmap.htm">Map</a>
                </li>
                <li>
                    <a href="http://api.vietbando.com/Help/MapsJsAPI/vi/example/addMarker.htm">Marker</a>
                </li>
                <li>
                    <a href="http://api.vietbando.com/Help/MapsJsAPI/vi/example/addCustomMarker.htm">Custom marker</a>
                </li>
                <li>
                    <a href="http://api.vietbando.com/Help/MapsJsAPI/vi/example/infowindow.htm">Info window</a>
                </li>
                <li>
                    <a href="http://api.vietbando.com/Help/MapsJsAPI/vi/example/polyline.htm">Polyline</a>
                </li>
                <li>
                    <a href="http://api.vietbando.com/Help/MapsJsAPI/vi/example/polygon.htm">Polygon</a>
                </li>
                <li>
                    <a href="http://api.vietbando.com/Help/MapsJsAPI/vi/example/rect.htm">Rectangle</a>
                </li>
                <li>
                    <a href="http://api.vietbando.com/Help/MapsJsAPI/vi/example/circle.htm">Circle</a>
                </li>
            </ul>
        </div>

    </div>
    <!-- /Project overview -->

    <!-- Wrapped directives -->
    <div class="row">

        <div class="col-lg-12">
            <h3 class="page-header">Wrapped directives</h3>
        </div>

        <div class="col-sm-4 col-xs-12"
             ng-repeat="directive in directives">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <a ng-href="{{directive.url}}">{{directive.name}}</a>
                </div>
                <div class="panel-body">
                    <img class="img-responsive"
                         style="margin-left:auto; margin-right:auto;"
                         ng-src="{{directive.image}}"
                         alt="{{directive.name}}">
                </div>
            </div>
        </div>
    </div>
    <!-- /Wrapped directives -->

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
        </div>
    </footer>

</div>