<!DOCTYPE html>
<html lang="en"
      ng-app="ng-viet-ban-do-tutorial">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>ng-viet-ban-do | Tutorial</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Timeline-->
    <link href="assets/css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="assets/css/shop-homepage.css" rel="stylesheet">

    <link rel="stylesheet" href="directives/ng-viet-ban-do/map/map.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-controller="NgVietBanDoTutorialController">

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand"
               href="/">ng-viet-ban-do</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse"
             id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<div class="container">

    <!--Render partial views-->
    <div ng-view></div>

    <!--&lt;!&ndash;Sidebar&ndash;&gt;-->
    <!--<div class="col-md-3">-->
    <!--<p class="lead">Basic map</p>-->
    <!--<div class="list-group">-->
    <!--<a href="javascript:void(0)"-->
    <!--class="list-group-item active">Demo</a>-->

    <!--<a href="javascript:void(0);"-->
    <!--class="list-group-item">API</a>-->

    <!--<a href="javascript:void(0);"-->
    <!--class="list-group-item">Code</a>-->
    <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash;Main content&ndash;&gt;-->
    <!--<div class="col-md-9">-->

    <!--<ng-viet-map >-->

    <!--&lt;!&ndash;Map marker&ndash;&gt;-->
    <!--<map-marker position="markerOptions.position"-->
    <!--draggable="markerOptions.draggable">-->
    <!--<info-window content="Hello world"-->
    <!--auto-pan="true"-->
    <!--position="infoWindowOptions.position"-->
    <!--attach-to-marker="true">-->
    <!--</info-window>-->
    <!--</map-marker>-->

    <!--&lt;!&ndash;Custom marker&ndash;&gt;-->
    <!--<custom-marker position="position"></custom-marker>-->

    <!--&lt;!&ndash;Polyline example&ndash;&gt;-->
    <!--<map-polyline path="polyline.path"-->
    <!--stroke-color="polyline.strokeColor"-->
    <!--stroke-opacity="polyline.strokeOpacity"-->
    <!--stroke-width="polyline.strokeWidth"-->
    <!--visible="polyline.visible"-->
    <!--draw-arrows="polyline.drawArrows" draggable="true">-->
    <!--</map-polyline>-->

    <!--&lt;!&ndash;Polygon&ndash;&gt;-->
    <!--<map-polygon paths="polygon.paths"-->
    <!--stroke-color="polygon.strokeColor"-->
    <!--stroke-opacity="polygon.strokeOpacity"-->
    <!--stroke-width="polygon.strokeWidth"-->
    <!--visible="polygon.visible"-->
    <!--z-index="polygon.zIndex"-->
    <!--fill-color="polygon.fillColor"-->
    <!--fill-opacity="polygon.fillOpacity"-->

    <!--click="clickPolygon(parameter)">-->
    <!--</map-polygon>-->

    <!--&lt;!&ndash;Rectangle&ndash;&gt;-->
    <!--<map-rectangle bounds="rectangleOptions.bounds"-->
    <!--fill-color="rectangleOptions.fillColor"-->
    <!--fill-opacity="rectangleOptions.fillOpacity"-->
    <!--stroke-color="rectangleOptions.strokeColor"-->
    <!--stroke-width="rectangleOptions.strokeWidth"-->
    <!--stroke-opacity="rectangleOptions.strokeOpacity"-->
    <!--visible="rectangleOptions.visible"-->
    <!--z-index="rectangleOptions.zIndex">-->
    <!--</map-rectangle>-->

    <!--&lt;!&ndash;Circle&ndash;&gt;-->
    <!--<map-circle center="circleOptions.center"-->
    <!--fill-color="circleOptions.fillColor"-->
    <!--fill-opacity="circleOptions.fillOpacity"-->
    <!--stroke-opacity="circleOptions.strokeOpacity"-->
    <!--stroke-width="circleOptions.strokeWidth"-->
    <!--visible="circleOptions.visible"-->
    <!--z-index="circleOptions.zIndex"-->
    <!--radius="circleOptions.radius">-->
    <!--</map-circle>-->
    <!--</ng-viet-map>-->

    <!--</div>-->


</div>

<!--<div class="col-lg-12">-->

    <!--&lt;!&ndash;Polyline area&ndash;&gt;-->
    <!--<div class="row">-->

        <!--<div class="col-lg-6">-->
            <!--<div class="panel panel-default">-->
                <!--<div class="panel-heading">-->
                    <!--Polyline setting-->
                <!--</div>-->
                <!--<div class="panel-body">-->

                    <!--<table class="table table-condensed table-responsive">-->
                        <!--<tbody>-->
                        <!--<tr>-->
                            <!--<th>Stroke color</th>-->
                            <!--<td>-->
                                <!--<input type="color"-->
                                       <!--class="form-control"-->
                                       <!--ng-model="polyline.strokeColor"-->
                                       <!--placeholder="Stroke color">-->
                            <!--</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<th>Visible</th>-->
                            <!--<td>-->
                                <!--<input type="radio"-->
                                       <!--id="polyline-visible"-->
                                       <!--class="radio radio-inline"-->
                                       <!--ng-value="true"-->
                                       <!--ng-model="polyline.visible"> <label for="polyline-visible">Visible</label>-->

                                <!--<input type="radio"-->
                                       <!--id="polyline-invisible"-->
                                       <!--class="radio radio-inline"-->
                                       <!--ng-value="false"-->
                                       <!--ng-model="polyline.visible"> <label for="polyline-invisible">Invisible</label>-->
                            <!--</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<th>Stroke opacity</th>-->
                            <!--<td>-->
                                <!--<input class="form-control"-->
                                       <!--type="number"-->
                                       <!--ng-model="polyline.strokeOpacity">-->
                            <!--</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<th>Stroke width</th>-->
                            <!--<td>-->
                                <!--<input class="form-control"-->
                                       <!--type="number"-->
                                       <!--ng-model="polyline.strokeWidth">-->
                            <!--</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<th>Draw arrow</th>-->
                            <!--<td>-->
                                <!--<input type="radio"-->
                                       <!--id="polyline-draw-arrows"-->
                                       <!--class="radio radio-inline"-->
                                       <!--ng-value="true"-->
                                       <!--ng-model="polyline.drawArrows"> <label for="polyline-draw-arrows">Visible</label>-->

                                <!--<input type="radio"-->
                                       <!--id="polyline-hide-arrows"-->
                                       <!--class="radio radio-inline"-->
                                       <!--ng-value="false"-->
                                       <!--ng-model="polyline.drawArrows"> <label-->
                                    <!--for="polyline-hide-arrows">Invisible</label>-->
                            <!--</td>-->
                        <!--</tr>-->
                        <!--</tbody>-->
                    <!--</table>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="col-lg-6">-->
            <!--<div class="panel panel-default">-->
                <!--<div class="panel-heading">-->
                    <!--Rectangle control-->
                <!--</div>-->

                <!--<div class="panel-body">-->
                    <!--<table class="table table-condensed table-responsive">-->
                        <!--<tbody>-->
                        <!--<tr>-->
                            <!--<th>Fill color</th>-->
                            <!--<td>-->
                                <!--<input class="form-control" type="color" ng-model="rectangleOptions.fillColor">-->
                            <!--</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<th>Fill opacity</th>-->
                            <!--<td>-->
                                <!--<input class="form-control"-->
                                       <!--type="number"-->
                                       <!--ng-model="rectangleOptions.fillOpacity"-->
                                       <!--min="0"-->
                                       <!--max="1"-->
                                       <!--step="0.01">-->
                            <!--</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<th>Stroke color</th>-->
                            <!--<td>-->
                                <!--<input class="form-control" type="color" ng-model="rectangleOptions.strokeColor">-->
                            <!--</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<th>Stroke width</th>-->
                            <!--<td>-->
                                <!--<input class="form-control" type="number" ng-model="rectangleOptions.strokeWidth">-->
                            <!--</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<th>Stroke visibility</th>-->
                            <!--<td>-->
                                <!--<input type="radio"-->
                                       <!--id="rectangle-visible"-->
                                       <!--class="radio radio-inline"-->
                                       <!--ng-value="true"-->
                                       <!--ng-model="rectangleOptions.visible"> <label-->
                                    <!--for="rectangle-visible">Visible</label>-->

                                <!--<input type="radio"-->
                                       <!--id="rectangle-invisible"-->
                                       <!--class="radio radio-inline"-->
                                       <!--ng-value="false"-->
                                       <!--ng-model="rectangleOptions.visible"> <label-->
                                    <!--for="rectangle-invisible">Invisible</label>-->
                            <!--</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<th>Z Index</th>-->
                            <!--<td>-->
                                <!--<input type="number"-->
                                       <!--class="form-control"-->
                                       <!--ng-model="rectangleOptions.zIndex">-->
                            <!--</td>-->
                        <!--</tr>-->
                        <!--</tbody>-->
                    <!--</table>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

    <!--</div>-->
<!--</div>-->


</body>
</html>


<!-- jQuery 2.2.3 -->
<script type="text/javascript"
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>

<!-- Bootstrap 3.3.6 -->
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!--Static file hosting-->
<!--<script type="text/javascript" src="http://developers.vietbando.com/V2/Scripts/MapsAPI.js?key=e254dd25-d0fe-4333-80ed-366fc2fed0f6"></script>-->

<!--Local registration-->
<script type="text/javascript" src="http://developers.vietbando.com/V2/Scripts/vietbandomapsapi.js?key=505bdb79-a4d7-45df-b216-dc5505edfff5"></script>

<!--Angular-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular.min.js"></script>

<!--Angular plugins-->
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular-route.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular-loader.min.js"></script>

<!--Angular directives-->
<script src="directives/ng-viet-ban-do/index.js"></script>
<script src="directives/ng-viet-ban-do/map/map.js"></script>
<script src="directives/ng-viet-ban-do/marker/marker.js"></script>
<script src="directives/ng-viet-ban-do/marker/custom-marker.js"></script>
<script src="directives/ng-viet-ban-do/info-window/info-window.js"></script>
<script src="directives/ng-viet-ban-do/overlay/map-polyline.js"></script>
<script src="directives/ng-viet-ban-do/overlay/map-polygon.js"></script>
<script src="directives/ng-viet-ban-do/overlay/map-rectangle.js"></script>
<script src="directives/ng-viet-ban-do/overlay/map-circle.js"></script>

<!--Page components-->
<script type="text/javascript" src="components/basic-map.component.js"></script>
<script type="text/javascript" src="components/basic-marker.component.js"></script>
<script type="text/javascript" src="components/custom-marker.component.js"></script>
<script type="text/javascript" src="components/map-rectangle.component.js"></script>
<script type="text/javascript" src="components/map-circle.component.js"></script>
<script type="text/javascript" src="components/map-polyline.component.js"></script>
<script type="text/javascript" src="components/map-polygon.component.js"></script>
<script type="text/javascript" src="components/main.component.js"></script>

<!--Services-->
<script type="text/javascript" src="services/main.service.js"></script>
<script type="text/javascript" src="services/showcase.service.js"></script>

<!--Angular application-->
<script src="app.js"></script>

